# Ignore everything in this directory
*
# But do not ignore the .gitignore file itself
!.gitignore

# And do not ignore the [CustomChangesForMrGreenGaming] directory
!\[CustomChangesForMrGreenGaming\]/

# And do not ignore anything inside the [CustomChangesForMrGreenGaming] directory
!\[CustomChangesForMrGreenGaming\]/**